.container{
    display : flex;
    height : 100vh;
    gap : 25px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-flow : row wrap;
    place-content : center flex-end;
}
[class ^="box-"]{
    width: 140px;
    height: 140px;
    background-color: skyblue;
    border: 2px solid black;
    font-size: 65px;
    display : flex;
    justify-content : center;
    align-items : center;
}
.box-1{
    flex-grow:1;
    flex : 2 1 30em;

}
.box-2{
    align-self: center;
    flex-grow: 5;
}
.box-3{
    flex-grow: 1;
}
.spec{
    color: white
}
img{
    width:100px;
}
.rew{
    width:400px;
}
